.guestBanner {
  margin-inline: var(--spacing-xs);
  position: sticky;
  top: var(--spacing-md);
  z-index: var(--z-index-banner);
  box-shadow: var(--drop-shadow);
  background-color: var(--color-surface);
}

.guestBannerContent {
  justify-content: space-between;
}
