.tallDialog {
  height: 80%;
}

.textAreaContainer {
  height: 100%;
  width: 100%;
}

.textArea {
  padding: var(--spacing-sm) var(--spacing-md);
  resize: none;
  height: 100%;
  width: calc(100% - (var(--spacing-md) * 2));
}
