.pageTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--spacing-lg) 0;
}

.subtitle {
  margin: 0;
  font-size: 1rem;
  height: 1rem;
  font-weight: bold;
}
