.matchLinkAndArchetype {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.matchRecord {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.matchList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.matchActions {
  margin-top: var(--spacing-md);
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-sm);
}
