.headerRow {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--spacing-md);
}

.rightButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--spacing-sm);
}

.matchLink {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.matchRecordAndDate {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.matchList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}
