.card {
  border: 1px solid var(--color-border);
  padding: var(--spacing-lg);
}

.cardTitle {
  display: flex;
  justify-content: space-between;
  padding-bottom: var(--spacing-lg);
}

.cardTitleAlignStart {
  align-items: flex-start;
}

.cardTitleAlignCenter {
  align-items: center;
}

.cardTitleAlignEnd {
  align-items: flex-end;
}
