.flexRowBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pageTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--spacing-lg) 0;
}
