.dialogContainer {
  opacity: 0;
  z-index: var(--z-index-dialog);
  pointer-events: none;

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.dialogContainer.open {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 200ms ease;
}

.dialog {
  border: 1px solid var(--color-border);
  background-color: var(--color-background);
  max-width: var(--page-width-mobile);
  width: var(--page-width-mobile);
  margin: 8px;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

@media (min-width: 768px) {
  .dialog {
    width: var(--page-width-desktop);
    max-width: var(--page-width-desktop);
  }
}
